<!-- プロフィール編集画面 -->

<h2>User info</h2>

<%= form_for(@user) do |f| %>
 <% if @user.errors.any? %>
 <div id="error_explanation">
  <h2><%= @user.errors.count %>errors prohibited this obj from being saved:</h2>
  <ul>
   <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
   <% end %>
  </ul>
 </div>
 <% end %>
 <p>Name</p>
 <%= f.text_field :name, placeholder:"name" %>
 <p>Image</p>
 <%= f.attachment_field :profile_image %>
 <p>Introduction</p>
 <%= f.text_area :introduction %><br>
 <%= f.submit "Update User" %>
<% end %>