<!-- userlist -->
<div class="container">
  <% if @book.errors.any? %><!-- エラー文 -->
  <div class="alert alert-warning">
    <h2><%= @book.errors.count %>errors prohibited this book from being saved:</h2>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
 <div class="row">
  <div class="col-xs-3">
   <!-- サイドバー -->
  <h2>User info</h2>
   <%= render 'info', user: current_user %>
   <h2>New book</h2>
   <%= render 'books/form', book: @book %>
  </div>
  <div class="col-xs-9">
   <h2>Users</h2>
   <table class="table table-hover table-inverse">
   	<thead>
   	 <tr>
   	  <th>image</th>
   	  <th>name</th>
      <th></th>
   	 </tr>
   	</thead>
   	<tbody>
     <% @users.each do |user| %> <!-- @usersの情報をuserに入れる。eachの中は@usersの情報はuserで出てくる。 -->
      <tr>
       <td><%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "profile1.jpg", size: "40x40" %></td>
       <td><%= user.name %></td>
       <td>フォロー数：<%= user.followings.count %></td>
       <td>フォロワー数：<%= user.followers.count %></td>
       <!-- フォローボタン -->
       <td>
        <% unless current_user?(user) %> <!-- フォローボタンが表示されるかどうか -->
         <% if current_user.following?(user) %>
          <%= form_for(current_user.following_relationships.find_by(following_id: user.id), html: {method: :delete}) do |f| %>
           <%= f.submit "フォローを外す" %>
          <% end %>
         <% else %>
          <%= form_for(current_user.following_relationships.build(following_id: user.id)) do |f| %>
           <div><%= f.hidden_field :following_id %></div>
           <%= f.submit "フォローする" %>
          <% end %>
         <% end %>
        <% end %>
       </td>
     <!-- フォローボタン -->
       <td><%= link_to "Show", user_path(user.id), class:"text-muted" %></td>
      </tr>
     <% end %>
   	</tbody>
   </table>
  </div>
 </div>
</div>