<!-- home画面 -->
 <% if flash[:notice] %><!-- サクセスメッセージ -->
  <div class="flash">
   <%= flash[:notice] %>
  </div>
 <% end %>
<div class="container">
  <% if @book.errors.any? %><!-- エラー文 -->
  <div class="alert alert-warning">
    <h2><%= @book.errors.count %>errors prohibited this book from being saved:</h2>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
 <div class="row">
  <div class="col-xs-3">
   <%= render 'layouts/list', book: @book %>
  </div>

  <div class="col-xs-9">
   <h2>Books</h2>

   <table class="table table-hover table-inverse">
    <thead>
     <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
     </tr>
    </thead>
    <tbody>
    <% @books.each do |book| %>
      <tr>
       <td>
        <%= link_to user_path(@user.id) do %>
        <%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, fallback: "profile1.jpg", size: "40x40" %>
        <% end %>
       </td>
       <td><%= link_to book.title, book_path(book.id), class:"text-muted" %></td>
       <td><%= book.body %></td>
       <td>コメント数:<%= book.book_comments.count %></td>
      </tr>
    <% end %>
    </tbody>
   </table>
  </div>
 </div>
</div>