<!-- home画面 -->
<div class="container">
 <div class="row">
  <div class="col-lg-3" style="background-color: orange;">
   <!-- サイドバー -->
   <h2>User info</h2>
   <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "profile1.jpg", size: "60x60" %>
   <p>name</p>
   <%= @username %>
   <p>introduction</p>
   <%= @userintroduction %>
   <% if user_signed_in? && current_user.id == @user.id %>
    <button type="button" class="btn btn-default">
     <span class="glyphicon glyphicon-wrench" aria-hidden="true"><%= link_to "a", edit_user_path(@user.id) %></span>
    </button>
   <% end %>
   <!-- 投稿フォーム -->
   <h2>New book</h2>
   <%= form_for(@book) do |f| %>
    <h4>Title</h4>
    <%= f.text_field :title %>
    <h4>Opinion</h4>
    <%= f.text_area :body %><br>
    <button type="button" class="btn btn-primary">
     <%= f.submit 'Create Book' %>
    </button>
   <% end %>
  </div>

  <div class="col-lg-9" style="background-color: red;">
   <h2>Books</h2>

   <table>
    <thead>
     <tr>
      <th>Title</th>

      <th>Opinion</th>
     </tr>
    </thead>
    <tbody>
    <% @books.each do |book| %>
     <% if @user_id == current_user.id %>
      <tr>
       <td><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "profile1.jpg", size: "60x60" %></td>
       <td class="title"><%= link_to book.title, book_path %></td>
       <td class="Opinion"><%= book.body %></td>
      </tr>
     <% end %>
    <% end %>
    </tbody>
   </table>
  </div>
 </div>
</div>