<!-- bookの詳細 -->

 <% if flash[:notice] %><!-- サクセスメッセージ -->
  <div class="flash">
   <%= flash[:notice] %>
  </div>
 <% end %>

<div class="container">
  <% if @book.errors.any? %><!-- エラー文 -->
  <div class="alert alert-warning">
    <h2><%= @book.errors.count %>errors prohibited this book from being saved:</h2>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
 <div class="row">
  <div class="col-xs-3">
   <%= render 'layouts/list', book: @book %>
  </div>

  <div class="col-xs-9">
   <h2>Book detail</h2>
   <table class="table table-hover table-inverse">
    <tbody>
     <tr>
      <td>
        <%= link_to user_path(@user) do %> <!-- 各ユーザーの詳細画面へ -->
        <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "profile1.jpg", size: "40x40" %>
        <%= link_to @user.name, user_path(@user), class:"text-muted" %>
        <% end %>
          </td>
      <td><%= @books.title %></td>
      <td><%= @books.body %></td>
       <% if current_user.id == @books.user_id %>
      <td><button type="button" class="btn btn-success"><%= link_to "Edit", edit_book_path(@books), class:"text-muted" %></button></td>
     <td><button type="button" class="btn btn-danger"><%= link_to "Destroy", book_path(@books), class:"text-muted", method: :delete %></button></td>
     <% end %>
     </tr>
    </tbody>
   </table>
  </div>
 </div>
</div>