<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="height: 60px;"> 
     <nav class="navbar navbar-inverse navbar-fixed-top"> 
      <div class="container">
       <nav class="nav navbar-nav navbar-left">
        <h2 style="color: white;">Bookers</h2>
       </nav>
       <nav>
        <ul class="nav navbar-nav navbar-right">
         <% if user_signed_in? %>
          <li><%= link_to "Home", user_path(current_user.id), class:"glyphicon glyphicon-home"  %></li>
          <li><%= link_to "Users", users_path, class:"glyphicon glyphicon-user" %></li>
          <li><%= link_to "Books", books_path, class:"glyphicon glyphicon-book" %></li>
          <li><%= link_to "logout", destroy_user_session_path, class:"glyphicon glyphicon-log-out", method: :delete, notice: "Signed out successfully." %></li>
          <% else %>
          <li><%= link_to "Home", root_path, class:"glyphicon glyphicon-home" %></li>
          <li><%= link_to "About", home_about_path, class:"glyphicon glyphicon-link" %></li>
          <li><%= link_to "sign up", new_user_registration_path, class:"glyphicon glyphicon-edit" %></li>
          <li><%= link_to "login", new_user_session_path, class:"glyphicon glyphicon-log-out" %></li>
         <% end %>
        </ul>
       </nav>
      </div>
     </nav>
    </div>



    <div class='body'> 
     <div class='container'> 
      <!-- 検索機能 -->
      <% if user_signed_in? %>
      <%= form_tag searchs_search_path, :method => 'get' do %>
       <%= text_field(@search_content, :search_word) %>
       <%= select(@search_content, :search_method, [["User","name"], ["Book","title"]]) %>
       <%= select(@search_content, :search_method, [["前方一致","forward_match"], ["後方一致","backward_match"], ["完全一致","perfect_match"], ["部分一致","partial_match"]]) %>
       <%= submit_tag 'search', :name => nil %>
      <% end %>
      <% end %>
      <%= yield %>   <!--これがないと別のビューを持ってくる事ができない -->
     </div>
    </div> 

   <footer class="footer style-2">
    <div class="container">
     <div class="row">
      <div class="col-xs-3 col-xs-offset-9">
       <div class="col">
        <p class="no-margin" style="font-size: 11px;">
         CopyRight Infratop.inc
        </p>
       </div>
      </div>
     </div>
    </div>
   </footer>
  </body>
</html>
