<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header" id="header">
     <h2>Bookers</h2>
    </div>
     <div id="headermenu">
      <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
       <li class="">
        <a>Home</a>
       </li>
       <li class="">
        <a>User</a>
       </li>
       <li class="">
        <a>Books</a>
       </li>
       <li class="">
        <a>logout</a>
       </li>
      </ul>
     </div>
     <div class="sidemenu">
      <h2>User info</h2>
      <%= attachment_image_tag @user_image, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb" %>
      <p>name</p>
      <p>introduction</p>
      <!-- 投稿フォーム -->
      <h2>New book</h2>
      <%= form_for(@books) do |f| %>
       <h4>Title</h4>
       <%= f.text_field :title %>
       <h4>Opinion</h4>
       <%= f.text_area :body %>
       <%= f.submit 'Create Book' %>
      <% end %>
     </div>
    <%= yield %>
   <footer class="footer style-2">
    <p class="no-margin" style="font-size: 11px;">
      CopyRight Infratop.inc
    </p>
   </footer>
  </body>
</html>
